{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block headcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/profile.css' %}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">ASSESS</a>
		</div>
		<ul class="nav navbar-nav">
			{% if not is_org and user.role == "PS" %}
			<li><a href="/organization/create-problem-set">Create Problem Set</a></li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> 
				{% if org.name %}
					{{ org.name }}
				{% else %}
					{{ user.name }}
				{% endif %} 
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/profile"> Profile </a></li>
					<li><a href="/logout?redirect=/"> Logout </a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

{% if is_org %}

<div class="col-xs-10 col-xs-push-1 col-md-8 col-md-push-2">
	<div class="row">
		{% if alert %}
		<div class="alert alert-{{alert}}"> {{alertmessage}} </div> <br>
		{% endif %}
		<div id="add_emp">
			Add Employee
		</div>
		<form method="post" action="/organization/add-employee"> {% csrf_token %}
			<div class="form-group">
				<label for="emp_type">Category</label>
				<select required="required" class="form-control" id="emp_type" name="emp_type">
					<option selected="selected" value="GN">General</option>
					<option value="HR">HR Head</option>
					<option value="PS">Problem Setter</option>
					<option value="SU">Supervisor</option>
				</select>
			</div>
			<div class="form-group">
				<label for="emp_email">Email</label>
				<input required="required" type="email" name="emp_email" class="form-control" id="emp_email" placeholder="ex: johndoe@companydomain.com">
			</div>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
</div>

{% else %}

<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-1 col-md-6 col-md-push-1" id="profile_info">
	<div class="row">
		<div id="head"><u>Profile Informaion</u></div><br>
		<div id="name">
			{{ user.name }}
		</div><br>
		<div>
			<span class="glyphicon glyphicon-envelope"></span> {{ user_email }}
		</div><br>
		{% if user.organization %}
		<div>
			<span class="glyphicon glyphicon-user"></span> {{user_org}} ( {{ user.role }} )
		</div><br>
		{% endif %}
	</div>

</div>

{% endif %}

{% endblock %}