.loader-status {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 30px;
    height: 30px;
    margin: 5px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#banner-internal #welcome,#username
{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2;
	color: #ABB7B7;
}

#banner-internal #username
{
	font-size: 24px;
}

#add_emp
{
	font-size: 20px;
	margin: 0px 0px 20px 0px;
}

#head
{
	font-size: 20px;
	text-transform: uppercase;
}

#name
{
	font-size: 20px;
}

.employee {
	padding: 15px;
	height: 100%;
	width: 100%;
	border: 1px solid #e0e0e0;
}

@media(max-width: 768px)
{
	.employee {
		margin: 10px 0px;
	}
}

.action-btn {
	text-align: right;
}

.action-btn .glyphicon-remove {
	color: #c0392b;
}

.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #3498db;
	width: 40px;
	height: 40px;
	margin-left: 50%;
	left: -20px;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#main-wrapper {
    margin-top: 30px;
}

#profile-box {
    background-color: #f4f4f4;
}

#form-suggestions{
	text-align: center;
	margin: 25px -15px;
}

#hr-box, #su-box, #ps-box, #gn-box {
	font-family: 'Open Sans Condensed', sans;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: bold;
}

#initial-box {
    background-color: #f4f4f4;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 2px solid deepskyblue;
}

#initial {
    position: absolute;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: deepskyblue;
}

.height-11 {
    margin-top: 100%;
}

#greeting {
    display: block;
    font-size: 26px;
    font-family: sans;
    letter-spacing: -2px;
    color: #111;
    font-weight: lighter;
    padding: 15px;
}

.profile-entry {
    height: 50px;
    padding: 0 15px;
    margin: 5px 0;
}

.profile-entry .entry-data{
    height: 25px;
    font-size: 16px;
    line-height: 25px;
}

#user-description {
    height: auto;
}

#user-description .entry-data{
    font-size: 16px;
}

.profile-entry .add-entry, .change-entry{
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    color: dodgerblue;
    cursor: pointer;
}

#user-description .change-entry{
    margin-top: 10px;
}


#profile-box {
    margin-top: 20px;
}

#profile-inside {
    position: relative;
    top: -30px;
}

@media(max-width: 767px)
{
    #initial-box {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(min-width: 768px)
{

    #profile-box {
        margin-top: 50px;
    }
    #profile-inside {
        top: -50px;
    }
    #initial {
        font-size: 40px;
    }
}

.input-form {
    display: none;
    padding: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    border: 2px solid dodgerblue;
    background-color: #fff;
}

.input-form-box {
    height: 40px;
    background-color: #fff;
}

.white-screen {
    position: fixed;
    z-index: 10;
    background-color: rgba(255,255,255,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.input-form-field {
    z-index: 50;
    padding: 0;
    width: calc(100% - 40px) ;
}

.input-form-field input, textarea {
    padding-left: 15px ;
    font-size: 16px;
    color: #666;
    border: 0;
    box-shadow: none;
    height: 40px;
    background-color: rgba(0,0,0,0);
    width: 100%;
}

.input-form-field textarea {
    height: 80px;
}


.input-form-status {
    cursor: pointer;
    padding: 0;
    text-align: center;
    width: 40px;
}

.input-form-status .ti-check{
    color: green;
    line-height: 40px;
    font-size: 16px;
}

#completed-list {
    padding-top: 50px;
}

#test-list-head {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(120,120,120);
}

.test-wrapper {
    padding: 15px;
}

.test-wrapper a, a:hover, a:focus {
    text-decoration: none;
}

.test {
    padding: 15px;
    height: 100%;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    color: rgb(30,30,40);
}

.test .test-name {
    font-size: 18px;
    line-height: 25px;
    max-height: 50px;
    height: 50px;
    color: #46535e;
    overflow: hidden;
}

.test-category-box{
    font-size: 12px;
    background-color: #f3f3f3;
    padding: 3px 5px;
    border-radius: 2px;
}

.test-loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    margin-top: 50px;
    margin-left: 50%;
    left: -20px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.schedule-box {
    padding: 15px 0 0 0;
    color: #46535e;
}

.schedule-box a, a:hover, a:focus {
    text-decoration: none;
}

#test_status #status {
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

#test_status .coming {
    background-color: #ffff53;
    color: #555;
}

#test_status .live {
    background-color: #9c0;
    color: #fff;
    font-weight: bold;
}

#test_status .completed {
    background-color: crimson;
    color: #fff;
    font-weight: bold;
}

.schedule-entry {
    margin-top: 15px;
}

.schedule-entry .head {
    color: #c1c1c1;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#test_time #time {
    font-size: 18px;
}

#test_duration #duration {
    font-size: 18px;
}

#remaining_time {
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
}

#tests-head{
    font-size: 20px;
    color: #222;
}

#tests-head-line{
    border-bottom: 2px solid #e9e9e9;
    height: 20px;
    width: 100%;
}

.inline-box{
    display: inline-block;
}

