body
{
	background-color: #fff;
}


#register_title h3
{
	text-align: center;
}

#register_box {
	background-color: #fff;
}

#register_box_internal
{
	margin: 10px 0px;
}

@media(min-width: 768px)
{
	body
	{
		background-color: #ececec;
	}

	#register_box {
		margin-top: 80px;
		box-shadow: 0px 0px 8px #ddd;
	}
}

#red
{
	color: red;
	font-size: 14px;
}

#info
{
	font-size: 12px;
	color: #666;
}

#register_box_internal .f-field, .f-text {
	padding: 0;
}

#register_box_internal .f-field input, textarea, option, select {
	font-size: 14px;
}

#register_box_internal button {
	height: 40px;
	line-height: 40px;
	padding: 0;
	background-color: rgb(10,0,20);
	color: #fff;
	border-radius: 5px;
	box-shadow: 0;
	border: 0;
	font-weight: bold;
}

#register {
	margin-top: 5px;
	color: #888;
	font-size: 14px;
}

#register-btn {
	padding: 15px 0;
}

#info {
	padding-top: 10px;
}