{% extends 'base.html' %}

{% block title %} Register Organization | Hiresome{% endblock %}

{% block headcss %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/register.css' %}">
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-8 col-lg-4 col-md-push-2 col-lg-push-4" id="register_box">
	<div class="row">
		<div class="col-xs-12 col-lg-10 col-lg-push-1" id="register_box_internal">
			<span id="register_title"><h3>Register as Organization</h3></span><br>
			{% if alert %}
			<div class="alert alert-{{ alert.type }}">
				{{ alert.message }}
			</div>
			{% endif %}
			<form method="post" action="/register/organization"> {% csrf_token %}
				<div class="col-xs-12 f-field ">
                    <div class="f-field-label">Organization Name <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="text" id="name" name="name">
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Description </div>
                    <div  class="col-xs-12 f-text">
                        <textarea id="description" name="description"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Website <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="text" id="website" name="website">
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Location <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="text" id="location" name="location">
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Category <span class='red'>*</span> </div>
                    <div class="col-xs-12 f-select">
                        <select id="category" name="category">
                            <option selected="selected" value="Information Technology">Information Technology</option>
							<option value="Finance">Finance</option>
							<option value="Medical">Medical or Pharmaceutical</option>
							<option value="Mining">Mining</option>
							<option value="Trade">Trade</option>
							<option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Email <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="email" id="email" name="email">
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Password <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="password" id="pwd" name="pwd">
                    </div>
                </div>
				<div class="col-xs-12" id="register-btn">
					<button type="submit" class="btn btn-primary btn-block">Register</button>
				</div>
				<input type="hidden" name="redirect" value="{{ redirect }}">
			</form>
			<div id="register">
				<span id="question">Have an account ? </span><a href="/login?redirect=/">Sign In </a>
			</div>
			<div id="register">
				<span id="question">Sign Up as </span><a href="/register/user"> User </a>
			</div>
			<div id="info">
				Fields marked with <span id="red">*</span> are required
			</div>
		</div>
	</div>
</div>
{% endblock %}