{% extends 'base.html' %}

{% block title %} Register User | Hiresome{% endblock %}

{% block headcss %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/register.css' %}">
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-8 col-lg-4 col-md-push-2 col-lg-push-4" id="register_box">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-push-1" id="register_box_internal">
            <span id="register_title"><h3>Register as User</h3></span><br>
            {% if alert %}
            <div class="alert alert-{{ alert.type }}">
                {{ alert.message }}
            </div>
            {% endif %}
            <form method="post" action="/register/user"> {% csrf_token %}
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Name <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="text" id="name" name="name">
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Email <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="email" id="email" name="email">
                    </div>
                </div>
                <div class="col-xs-12 f-field ">
                    <div class="f-field-label">Password <span class='red'>*</span> </div>
                    <div  class="col-xs-12 f-input">
                        <input required="required" type="password" id="pwd" name="pwd">
                    </div>
                </div>
                <div class="col-xs-12" id="register-btn">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
                <input type="hidden" name="redirect" value="{{ redirect }}">
            </form>
            <div id="register">
                <span id="question">Already have an account ? </span><a href="/login?redirect=/">Sign In </a>
            </div>
            <div id="register">
                Sign Up as <a href="/register/organization"> Organization </a>
            </div>
            <div id="info">
                Fields marked with <span id="red">*</span> are required
            </div>
        </div>
    </div>
</div>
{% endblock %}