{% extends 'base.html' %}

{% block title %}Tests - skillmagnet{% endblock %}

{% block headcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employee/browse-test.css' %}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img id="logo" src="{% static 'image/logo.svg' %}" onerror="this.src='{% static 'image/logo.svg' %}'">
            <a class="navbar-brand" href="#">
                Hiresome
            </a>
        </div>
        {% if login %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {% if user %}
                    <span class="glyphicon glyphicon-user"></span> {{ user.name }}
                    {% elif org %}
                    <span class="glyphicon glyphicon-user"></span> {{ org.name }}
                    {% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile"> Profile </a></li>
                    <li><a href="/logout?r=/browse/test"> Logout </a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login?r=/browse/test"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
        </ul>
        {% endif %}
    </div>
</nav>

<div class="col-xs-10 col-xs-push-1">
    <div class="row">
        <div id="schedule-head" class="col-xs-12">
            <div id="tests-head" class="inline-box">
                LIVE CHALLENGES
            </div>
            <div class="inline-box" id="tests-head-line"></div>
        </div>
    </div>
    <div class="row" id="live-test-list"></div>
    <div class="row" id="live-loader-box"></div>
</div>

<div class="col-xs-10 col-xs-push-1">
    <div class="row">
        <div id="schedule-head" class="col-xs-12">
            <div id="tests-head" class="inline-box">
                UPCOMING CHALLENGES
            </div>
            <div class="inline-box" id="tests-head-line"></div>
        </div>
    </div>
    <div class="row" id="upcoming-test-list"></div>
    <div class="row" id="upcoming-loader-box"></div>
</div>

{% endblock %}

{% block bodyjs %}

<script type="text/javascript">
    var t_from = 1;
    var t_max = 6;
    function get_live_tests(){
        $('#live-loader-box').html("<div class='loader'></div>")
        scheduled_test_request = $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/service/tests',
            data: {"from": t_from, "max": t_max, "sort_with": "name", "test_type": "live"},
            success: function(result){
                $('#live-loader-box').html("")
                data = JSON.parse(result)
                if (data.result == "error")
                {
                    console.log(data.message)
                    return;
                }
                if (data.length == 0)
                {
                    return;
                }
                var suggestion = "";
                for(var test of data.tests)
                {
                    suggestion += "<div class='col-xs-12 col-md-6 col-lg-4'><div class='test'><div class='row'><div class='col-xs-12'><h4>"+test.name+"</h4><span class='test-category-box'><span class='glyphicon glyphicon-tag'></span> "+test.category+"</span><div class='test-schedule-box'><h5><b>Date: </b>"+test.schedule.date+"</h5><h5><b>Time: </b>"+test.schedule.time+" UTC</h5><h5><b>Duration: </b>"+test.schedule.duration+" min</h5></div></div></div></div></div>";
                }
                $('#live-test-list').append(suggestion)
            }
        });
    }
    function get_upcoming_tests(){
        $('#upcoming-loader-box').html("<div class='loader'></div>")
        scheduled_test_request = $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/service/tests',
            data: {"from": t_from, "max": t_max, "sort_with": "name", "test_type": "non-live"},
            success: function(result){
                $('#upcoming-loader-box').html("")
                data = JSON.parse(result)
                if (data.result == "error")
                {
                    console.log(data.message)
                    return;
                }
                if (data.length == 0)
                {
                    return;
                }
                var suggestion = "";
                for(var test of data.tests)
                {
                    suggestion += "<div class='col-xs-12 col-md-6 col-lg-4'><div class='test'><div class='row'><div class='col-xs-12'><h4>"+test.name+"</h4><span class='test-category-box'><span class='glyphicon glyphicon-tag'></span> "+test.category+"</span><div class='test-schedule-box'><h5><b>Date: </b>"+test.schedule.date+"</h5><h5><b>Time: </b>"+test.schedule.time+" UTC</h5><h5><b>Duration: </b>"+test.schedule.duration+" min</h5></div></div></div></div></div>";
                }
                $('#upcoming-test-list').append(suggestion)
            }
        });
    }
    $('document').ready(function(){
        get_live_tests();
        get_upcoming_tests();
    });
</script>

{% endblock %}