{% extends 'base.html' %}

{% block title %}Schedule Test - {{ test.name }}{% endblock %}

{% block headcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employee/schedule-test.css' %}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img id="logo" src="{% static 'image/logo.svg' %}" onerror="this.src='{% static 'image/logo.svg' %}'">
            <a class="navbar-brand" href="#">
                Hiresome
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{ user.name }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile"> Profile </a></li>
                    <li><a href="/logout?redirect=/"> Logout </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

{% if alert %}
<div class="alert alert-{{alert.type}}">{{alert.message}}</div>
{% endif %}

<div class="col-xs-10 col-xs-push-1 col-lg-8 col-md-push-2">
    <div class="row" id="test-wrapper">
        <div class="col-xs-12 test">
            <div class="row">
                <div class="col-xs-12 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{ test.name }}</h4>
                            <span class="glyphicon glyphicon-tag"></span>
                            <span class="pset-category">{{ test.category }}</span>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Problem Sets</h4>
                                </div>
                                <div class="col-xs-12">
                                    {% for pset in test.problem_sets %}
                                    <div class="pset">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <h4>{{ pset.name }}</h4>
                                                {% if pset.category %}
                                                <span class="pset-category-box">
                                                    <span class="glyphicon glyphicon-tag"></span>
                                                    <span class="pset-category">{{ pset.category }}</span>
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="responsive-form col-xs-12 col-lg-8" id="schedule-form" action="/schedule-test/{{test.id}}" method="POST"> {% csrf_token %}
                    <div class="row">
                        <input type="hidden" name="test_id" value="{{ test.id }}">
                        <div class="col-xs-12" id="test-schedule-head">
                            <h4>Test Schedule</h4>
                        </div>
                        <div class="responsive-field col-xs-12">
                            <div class="responsive-field-label"><span class='red'>*</span> Date ( dd-mm-yyyy ) </div>
                            <input required="required" type="date" name="date" class="responsive-field-input" autocomplete="off">
                        </div>
                        <div class="responsive-field col-xs-12">
                            <div class="responsive-field-label"><span class='red'>*</span> Time ( hour:min 24 Hour Colck )</div>
                            <input required="required" min="" type="time" name="time" class="responsive-field-input" autocomplete="off">
                        </div>
                        <div class="responsive-field col-xs-12">
                            <div class="responsive-field-label"><span class='red'>*</span> Duration ( min )</div>
                            <input required="required" min="30" max="360" type="number" name="duration" class="responsive-field-input" autocomplete="off">
                        </div>
                        <div class="col-xs-12" id="job-offering-head">
                            <h4>Job Offering</h4>
                        </div>
                        <div class="responsive-field col-xs-12">
                            <div class="responsive-field-label"><span class='red'>*</span> Position</div>
                            <input required="required" type="text" name="position" class="responsive-field-input" autocomplete="off">
                        </div>
                        <div class="responsive-field col-xs-12">
                            <div class="responsive-field-label"><span class='red'>*</span> Salary Offered</div>
                            <input type="text" name="salary" class="responsive-field-input" autocomplete="off">
                        </div>
                        <div class="responsive-field col-xs-12">
                            <select class="responsive-field-input" name="type">
                                <option class="responsive-field-option" value="OFW">Office Work</option>
                                <option class="responsive-field-option" value="WFH">Work From Home</option>
                            </select>
                        </div>
                        <div class="responsive-field col-xs-12">
                            <select class="responsive-field-input" name="job-duration">
                                <option class="responsive-field-option" value="FTE">Full Time Employment</option>
                                <option class="responsive-field-option" value="3MI">3 Month Internship</option>
                                <option class="responsive-field-option" value="6MI">6 Month Internship</option>
                            </select>
                        </div>
                        <div class="responsive-field col-xs-12">
                            <select class="responsive-field-input" name="currency">
                                <option class="responsive-field-option" value="INR">INR</option>
                                <option class="responsive-field-option" value="USD">USD</option>
                                <option class="responsive-field-option" value="GBP">GBP</option>
                                <option class="responsive-field-option" value="EUR">EUR</option>
                            </select>
                        </div>
                        <div class="responsive-field col-xs-12">
                            <div class="responsive-field-label"> Office</div>
                            <input type="text" name="office" class="responsive-field-input" autocomplete="off">
                        </div>
                        <div class="col-xs-12" id="form-btns">
                            <button type="submit" class="btn btn-primary">
                                Schedule Test
                            </button>
                            <a href="/schedule-test">
                                <button class="btn btn-primary">
                                    Cancel
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
