.red
{
    color: red;
    font-size: 14px;
}

#logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
}

.navbar {
    margin-bottom: 0;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 0;
    height: 40px;
    min-height: 40px;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    font-family: sans, sans-serif;
    letter-spacing: -1px;
    color: #fff;
    margin-left: 10px;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
}

.navbar-default .navbar-nav > li > a ,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #f6f6f6;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #0078d7;
}

@media(max-width: 767px)
{
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
}


#nav-action-box {
    padding: 0;
    height: 100%;
}

#account-btn-box {
    padding: 0;
    height: 100%;
}

#plus-btn {
    display: inline-block;
    font-size: 20px;
    line-height: 37px;
    height: 38px;
    width: 50px;
    text-align: center;
}

#account-btn {
    display: inline-block;
    height: 38px;
    width: 50px;
    color: #fff;
    text-transform: uppercase;
    line-height: 37px;
    font-family: sans;
    font-size: 18px;
    text-align: center;
}
