{% extends 'base_with_nav.html' %}

{% block title %}Tests - skillmagnet{% endblock %}

{% block headcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'test/browse.css' %}">
{% endblock %}

{% block content %}

<div class="col-xs-12 col-md-10 col-md-push-1" id="tests-head-tabs">
    <div class="col-xs-4 col-lg-2 active-tab test-tab" id="live-tab">
        <span class="not"></span><span class="head">LIVE</span>
    </div>
    <div class="col-xs-4 col-lg-2 test-tab" id="upcoming-tab">
        <span class="not"></span><span class="head">UPCOMING</span>
    </div>
    <div class="col-xs-4 col-lg-2 test-tab" id="completed-tab">
        <span class="not"></span><span class="head">COMPLETED</span>
    </div>
</div>

<div class="col-xs-10 col-xs-push-1 test-list active-list" id="live-list">
    <div class="row" id="live-test-list"></div>
    <div class="row" id="live-loader-box"></div>
</div>

<div class="col-xs-10 col-xs-push-1 test-list" id="upcoming-list">
    <div class="row" id="upcoming-test-list"></div>
    <div class="row" id="upcoming-loader-box"></div>
</div>

<div class="col-xs-10 col-xs-push-1 test-list" id="completed-list">
    <div class="row" id="completed-test-list"></div>
    <div class="row" id="completed-loader-box"></div>
</div>

{% endblock %}

{% block bodyjs %}

<script type="text/javascript">
    var t_from = 1;
    var t_max = 6;
    function get_live_tests(){
        $('#live-loader-box').html("<div class='loader'></div>")
        scheduled_test_request = $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/service/tests',
            data: {"from": t_from, "max": t_max, "sort_with": "name", "test_type": "live"},
            success: function(result){
                $('#live-loader-box').html("")
                data = JSON.parse(result)
                if (data.result == "error")
                {
                    console.log(data.message)
                    return;
                }
                if (data.length == 0)
                {
                    return;
                }
                var suggestion = "";
                for(var test of data.tests)
                {
                    suggestion += "<div class='col-xs-12 col-md-6 col-lg-4 test-wrapper'><a title='"+test.name+"' href='/test/"+test.id+"'><div class='test'><div class='row'><div class='col-xs-12'><div class='test-name'>"+test.name+"</div><span class='test-category-box'><span class='glyphicon glyphicon-tag'></span> "+test.category+"</span><div class='schedule-box'><div id='test_time' class='schedule-entry'><div class='head'>OPENS AT</div><div id='time'>"+test.pretty_date+" "+test.schedule.time+" UTC</div></div><div id='test_duration' class='schedule-entry'><div class='head'>DURATION</div><div id='duration'>"+test.pretty_duration+"</div></div><div id='test_remaining_time' class='schedule-entry'><div class='head'>ENDS IN</div><div id='remaining_time'>"+test.pretty_remaining_time+"</div></div></div></div></div></div></a></div>";
                }
                $('#live-test-list').append(suggestion)
            }
        });
    }
    function get_upcoming_tests(){
        $('#upcoming-loader-box').html("<div class='loader'></div>")
        scheduled_test_request = $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/service/tests',
            data: {"from": t_from, "max": t_max, "sort_with": "name", "test_type": "upcomming"},
            success: function(result){
                $('#upcoming-loader-box').html("")
                data = JSON.parse(result)
                if (data.result == "error")
                {
                    console.log(data.message)
                    return;
                }
                if (data.length == 0)
                {
                    return;
                }
                var suggestion = "";
                for(var test of data.tests)
                {
                    suggestion += "<div class='col-xs-12 col-md-6 col-lg-4 test-wrapper'><a title='"+test.name+"' href='/test/"+test.id+"'><div class='test'><div class='row'><div class='col-xs-12'><div class='test-name'>"+test.name+"</div><span class='test-category-box'><span class='glyphicon glyphicon-tag'></span> "+test.category+"</span><div class='schedule-box'><div id='test_time' class='schedule-entry'><div class='head'>OPENS AT</div><div id='time'>"+test.pretty_date+" "+test.schedule.time+" UTC</div></div><div id='test_duration' class='schedule-entry'><div class='head'>DURATION</div><div id='duration'>"+test.pretty_duration+"</div></div><div id='test_remaining_time' class='schedule-entry'><div class='head'>LIVE IN</div><div id='remaining_time'>"+test.pretty_remaining_time+"</div></div></div></div></div></div></a></div>";
                }
                $('#upcoming-test-list').append(suggestion)
            }
        });
    }
    function get_completed_tests(){
        $('#completed-loader-box').html("<div class='loader'></div>")
        scheduled_test_request = $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/service/tests',
            data: {"from": t_from, "max": t_max, "sort_with": "name", "test_type": "completed"},
            success: function(result){
                $('#completed-loader-box').html("")
                data = JSON.parse(result)
                if (data.result == "error")
                {
                    console.log(data.message)
                    return;
                }
                if (data.length == 0)
                {
                    return;
                }
                var suggestion = "";
                for(var test of data.tests)
                {
                    suggestion += "<div class='col-xs-12 col-md-6 col-lg-4 test-wrapper'><a title='"+test.name+"' href='/test/"+test.id+"'><div class='test'><div class='row'><div class='col-xs-12'><div class='test-name'>"+test.name+"</div><span class='test-category-box'><span class='glyphicon glyphicon-tag'></span> "+test.category+"</span><div class='schedule-box'><div id='test_time' class='schedule-entry'><div class='head'>OPENS AT</div><div id='time'>"+test.pretty_date+" "+test.schedule.time+" UTC</div></div><div id='test_duration' class='schedule-entry'><div class='head'>DURATION</div><div id='duration'>"+test.pretty_duration+"</div></div></div></div></div></div></a></div>";
                }
                $('#completed-test-list').append(suggestion)
            }
        });
    }
    $('document').ready(function(){
        get_live_tests();
        get_upcoming_tests();
        get_completed_tests();

        $('#live-tab').click(function(){
            $('.active-tab').removeClass('active-tab');
            $('.active-list').removeClass('active-list');
            $('#live-tab').addClass('active-tab');
            $('#live-list').addClass('active-list')
        });

        $('#upcoming-tab').click(function(){
            $('.active-tab').removeClass('active-tab');
            $('.active-list').removeClass('active-list');
            $('#upcoming-tab').addClass('active-tab');
            $('#upcoming-list').addClass('active-list')
        });

        $('#completed-tab').click(function(){
            $('.active-tab').removeClass('active-tab');
            $('.active-list').removeClass('active-list');
            $('#completed-tab').addClass('active-tab');
            $('#completed-list').addClass('active-list')
        });

    });
</script>

{% endblock %}