{% extends 'base.html' %}

{% block title %}Create Problem Set{% endblock %}

{% block headcss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employee/test-module.css' %}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" id="brand">
            <a class="navbar-brand" href="#">skillmagnet</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{ user.name }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile"> Profile </a></li>
                    <li><a href="/logout?redirect=/"> Logout </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

{% if alert %}
<div class="alert alert-{{alert.type}}">{{alert.message}}</div>
{% endif %}

<div class="col-xs-10 col-xs-push-1 col-lg-8 col-md-push-2">
    <div class="row" id="form-wrapper">
        <div class="col-xs-12" id="test-form">
            <form class="responsive-form" action="/create/test-module" method="POST"> {% csrf_token %}
                <div class="col-xs-12">
                    <h4>Test Details</h4>
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"><span class='red'>*</span> Name</div>
                    <input required="required" type="text" name="test_name" class="responsive-field-input" autocomplete="off">
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"><span class='red'>*</span> Category</div>
                    <input required="required" type="text" name="test_category" class="responsive-field-input" autocomplete="off">
                </div>
                <div class="col-xs-12" id="test-schedule-head">
                    <h4>Test Schedule</h4>
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"><span class='red'>*</span> Date ( dd-mm-yyyy ) </div>
                    <input required="required" type="date" name="date" class="responsive-field-input" autocomplete="off">
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"><span class='red'>*</span> Time ( hour:min 24 Hour Colck UTC )</div>
                    <input required="required" min="" type="time" name="time" class="responsive-field-input" autocomplete="off">
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"><span class='red'>*</span> Duration ( min )</div>
                    <input required="required" min="30" max="360" type="number" name="duration" class="responsive-field-input" autocomplete="off">
                </div>
                <div class="col-xs-12" id="job-offering-head">
                    <h4>Job Offering</h4>
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"><span class='red'>*</span> Position</div>
                    <input required="required" type="text" name="position" class="responsive-field-input" autocomplete="off">
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"><span class='red'>*</span> Salary Offered</div>
                    <input type="text" name="salary" class="responsive-field-input" autocomplete="off">
                </div>
                <div class="responsive-field col-xs-12">
                    <select class="responsive-field-input" name="type">
                        <option class="responsive-field-option" value="OFW">Office Work</option>
                        <option class="responsive-field-option" value="WFH">Work From Home</option>
                    </select>
                </div>
                <div class="responsive-field col-xs-12">
                    <select class="responsive-field-input" name="job-duration">
                        <option class="responsive-field-option" value="FTE">Full Time Employment</option>
                        <option class="responsive-field-option" value="3MI">3 Month Internship</option>
                        <option class="responsive-field-option" value="6MI">6 Month Internship</option>
                    </select>
                </div>
                <div class="responsive-field col-xs-12">
                    <select class="responsive-field-input" name="currency">
                        <option class="responsive-field-option" value="INR">INR</option>
                        <option class="responsive-field-option" value="USD">USD</option>
                        <option class="responsive-field-option" value="GBP">GBP</option>
                        <option class="responsive-field-option" value="EUR">EUR</option>
                    </select>
                </div>
                <div class="responsive-field col-xs-12">
                    <div class="responsive-field-label"> Office</div>
                    <input type="text" name="office" class="responsive-field-input" autocomplete="off">
                </div>
                <input type="hidden" name="no-of-psets" id="no-of-psets" value="0">
                <div class="col-xs-12">
                    <div class="row">
                        <div id="selected-psets-head" class="col-xs-12">
                            Problem Sets
                        </div>
                        <div class="col-xs-12">
                            <div class="row"  id="selected-psets">
                                <div id="selected-default" class="col-xs-12">
                                    <h4>None</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" id="form-btns">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a href="/profile"><button class="btn btn-primary">Cancel</button></a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block bodyjs %}

<script type="text/javascript">
    var nops = 0;
    $('document').ready(function(){

        $('.action-btn').click(function(event){
            target = $(event.target);
            pset = target.parent().parent().parent();
            pset.addClass("selected")
            pset_block = pset.parent()
            pset_block.find(".pset_id").attr("name","ps"+nops);
            $('#no-of-psets').val(nops+1);
            action_btn = pset.find(".action-btn");
            action_btn.remove();
            $('#selected-default').remove();
            $('#selected-psets').append(pset_block);
            nops = nops+1;
        });
    });
</script>

{% endblock %}