{% extends 'base.html' %}

{% block title %} Test {% endblock %}

{% block headcss %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'test.css' %}">
{% endblock %}

{% block content %}

<input type="hidden" id="test_id" value="4ab6e80273f6bf26c5d268be437aefd6">

{% endblock %}

{% block bodyjs %}

<script>
var rem_time_request = null
$(document).ready(function(){

    var x = setInterval(function() {
        var test_id = $('#test_id').val()
        if (rem_time_request)
        {
            rem_time_request.abort()
            rem_time_request = null
        }
        rem_time_request = $.ajax({

            type: 'GET',
            dataType: 'json',
            url: '/service/tests/time',
            data: {"id": test_id},
            success: function(result){
                data = JSON.parse(result)
                if (data.result == "error")
                {
                    console.log(data.message);
                    return;
                }

                time = ""
                if(data.days != 0)
                    time += data.days + "d "

                time = data.hours + "h " + data.minutes + "m"
                $('#time').html(time)
            }
        });
        

    }, 60000);

});
</script>


{% endblock %}