body {
    background-color: #f6f6f6;
}

#loader_box {
    display: none;
    height: 60px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#test_head {
    padding-top: 20px;
    height: 100px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

@media(max-width: 767px)
{
    #test_head {
        border: 0;
        height: auto;
    }
}

#test_head h2 {
    color: #46535e;
}

@media(max-width: 767px)
{
    #test_head h2 {
        padding-left: 0px;
        text-align: center;
    }
}

#schedule-box {
    position: absolute;
    width: 250px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eeeeee;
    color: #46535e;
}

#schedule-box a, a:hover, a:focus {
    text-decoration: none;
}

@media(max-width: 991px)
{
    #schedule-box {
        position: relative;
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
        border: 0;
        background-color: inherit;
    }
}

#test_status #status {
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

#test_status .coming {
    background-color: #ffff53;
    color: #555;
}

#test_status .live {
    background-color: #9c0;
    color: #fff;
    font-weight: bold;
}

#test_status .completed {
    background-color: crimson;
    color: #fff;
    font-weight: bold;
}

.schedule-entry {
    margin-top: 15px;
}

.schedule-entry .head {
    color: #c1c1c1;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#test_time #time {
    font-size: 18px;
}

#test_duration #duration {
    font-size: 18px;
}

#remaining_time {
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
}

#give_test_btn {
    background-color: #9c0;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    padding: 0;
}

#analyze_test_btn {
    background-color: #f2f2f2;
    height: 40px;
    border-radius: 5px;
    color: crimson;
    font-weight: bold;
    line-height: 40px;
    padding: 0;
}

#test_details, #test_job_offer {
    font-size: 16px;
    color: #666;
    margin: 10px 0px 50px 0px;
}

#test_details .entry {
    margin-top: 20px;
}

#test_details #org_description {
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}

#test_details .head {
    color: #c1c1c1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px;
}

#test_category .category {
    padding: 5px 10px;
    background-color: #f1f5f8;
    border-radius: 20px;
    border: 1px solid #ececec;
    font-family: sans;
}

#test_job_offer .entry {
    margin-top: 10px;
    padding: 15px 0px;
}

#test_job_offer #job_description {
    border: 0;
}

#test_job_offer .head {
    color: #b1b1b1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#test_job_offer #block-title {
    color: #46535e;
    font-size: 20px;
}

#test_job_offer #bolck-border {
    content: ' ';
    border-bottom: 2px solid #ededed;
}

@media(max-width: 767px)
{
    #test_job_offer #bolck-border {
        content: '';
        border-bottom: 0;
    }
}

#review_block {
    padding: 50px 0;
}

#review_block #head {
    color: #b1b1b1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#review_block #review_list {
    padding-top: 20px;
}

.review-wrapper {
    padding-top: 20px;
}

.review {
    background-color: #fff;
    color: #333;
    padding: 20px;
}

#review_block #load_more {
    margin-top: 20px;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}